<h1>All restaurants</h1>
<div id="restaurants">
  <ul class="d-flex flex-wrap">
    <% @restaurants.each do |restaurant| %>
      <div class="card card-secondary border-secondary p-2 m-1 col-6 col-sm-4 col-md-3 col-lg-2">
        <%=
          link_to restaurant.name, restaurant_path(restaurant),
          class: "text-decoration-none text-secondary"
        %>
      </div>
    <% end %>
  </ul>
</div>
